<span><ngb-progressbar type="info" [value]="curChapter" [max]="selectedBook.totalChapterCount"></ngb-progressbar></span>
<br />

<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectedBook.title}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" *ngFor="let book of supported; let i = index" (click)="selectBook(book.key)">{{book.label}}</button>
      </div>
    </div>
  </div>
</div>

<br />

<div class="date-picking-container">
  <div class="date-pick-child">
    <div [hidden]="hidePickStartDate">
      Start Date: <br />
      {{startDate.year}}-{{pad(startDate.month, 2)}}-{{pad(startDate.day, 2)}}
      <a tabindex="1" (click)="hidePickStartDate = true">change</a>
    </div>
    <div [hidden]="!hidePickStartDate">
      <span>Pick the date you want to start reading:</span>
      <br />
      <input
      type="text"
      ngbDatepicker
      #dps="ngbDatepicker"
      [(ngModel)]="startDate"
      (click)="dps.toggle()"
      [footerTemplate]="startFooterTemplate"
      (dateSelect)="onStartDateSelect($event)"/>
      <button (click)="hidePickStartDate = false">close</button>
    </div>
  </div>

  <div class="date-pick-child">
    <div [hidden]="hidePickDate">
      Goal Finish Date: <br />
      {{goalDate.year}}-{{pad(goalDate.month, 2)}}-{{pad(goalDate.day, 2)}}
      <a tabindex="1" (click)="hidePickDate = true">change</a>
    </div>
    <div [hidden]="!hidePickDate">
      <span>Pick the date you want to finish reading by:</span>
      <br />
      <input
      type="text"
      ngbDatepicker
      #dp="ngbDatepicker"
      [(ngModel)]="goalDate"
      (click)="dp.toggle()"
      [minDate]="minEndDate"
      [footerTemplate]="footerTemplate"
      (dateSelect)="onDateSelect($event)"/>
      <button (click)="hidePickDate = false">close</button>
    </div>
  </div>
</div>

<br />

<!-- <div *ngFor="let part of selectedBook.parts; let i = index">
  <p class="h5 text-left">{{part.name}}</p>
  <div class="chapters-container">
    <div class="chapter-container"
      *ngFor="let chapter of part.chapterArray;"
      (click)="setProgress(selectedBook.getChapterPosition(part.name, chapter))">
      {{chapter}}
    </div>
  </div>
</div> -->

<div *ngFor="let day of readingDays; let i = index">
  <p class="h5 text-left">
    {{day.date.year}}-{{pad(day.date.month, 2)}}-{{pad(day.date.day, 2)}}
  </p>
  <div class="chapters-container">
    <div class="chapter-container text-center {{isRead(chapter.partName, chapter.chapter) ? 'already-read' : isLate(day.date) ? 'behind-reading' : isToday(day.date) ? 'read-today' : ''}}"
      *ngFor="let chapter of day.chapters;"
      (click)="setProgress(selectedBook.getChapterPosition(chapter.partName, chapter.chapter))">
      {{chapter.partName}} {{chapter.chapter}}
    </div>
  </div>
</div>

<br />
<br />
<br />

<div *ngIf="!showReset">
  <button (click)="showReset = true">Reset App</button>
</div>
<div class="danger-zone" *ngIf="showReset">
  <p>
    Are you sure you want to reset your saved progress? This can not be undone.
  </p>
  <button (click)="onClearApp()">Yes Reset App</button>
  <button class="float-right" (click)="showReset = false">No</button>
</div>

<ng-template #footerTemplate>
  <hr class="my-0">
  <button class="btn btn-primary btn-sm m-2 float-left" (click)="dp.navigateTo(); selectToday();">Today</button>
  <button class="btn btn-secondary btn-sm m-2 float-right" (click)="dp.close()">Close</button>
</ng-template>

<ng-template #startFooterTemplate>
  <hr class="my-0">
  <button class="btn btn-primary btn-sm m-2 float-left" (click)="dps.navigateTo(); selectTodayStart();">Today</button>
  <button class="btn btn-secondary btn-sm m-2 float-right" (click)="dps.close()">Close</button>
</ng-template>
