.danger-zone {
  padding: 8px;
  background: rgba(255,0,0,0.5);
}

.chapters-container {
  display: flex;
  flex-wrap: wrap;
}

.chapter-container {
  height: 64px;
  max-width: 164px;
  padding: 0px 8px 0px 8px;
  margin: 4px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.already-read {
  background-color: rgba(0,0,0,0.6);
}

.read-today {
  background-color: rgba(0,255,0,0.6);
}

.behind-reading {
  background-color: rgba(255,0,0,0.6);
}

.date-picking-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.date-pick-child {

}
